.comment_form
    %h1 Comment Form
    %p Please be mindful of what you wish to say.  Cursing, malicious statements, and other annoyances will not be permitted.
    %hr
    %form{ :action => '', :method => 'POST'}
        .comment_form_header        
            .full
                %label Name:
                %br
                %input{ :name => 'name', :type => 'text' }

            .full
                %label Email:
                %br
                %input{ :name => 'email', :type => 'text' }
            .full
                %label
                    Website:
                %input{ :name => 'website', :type => 'text' }   
        .comment_form_comment
            %label
                Comment:
            %br
            %textarea{ :class=> 'full', :name => 'comment', :rows => 5 }
            
        .comment_form_submit
            %input{ :name => 'submit_button', :type => 'submit', :value => 'Post Comment' }
