
.comment_list
    - @comment_list.each do |comment|
        .comment
            %div
                %label Name:
                &= comment.name
                %div
                    %label Email:
                    &= comment.email
                %div
                    %label Website:
                    &= comment.url
                %div
                    %label{:class => 'full'} Comment:
                    &= comment.comment
            %hr
%a{ :href => 'comment'} Make a comment

%hr

%a{ :href => 'reset'} Reset the Comment Store


