label { float:left; }

.full { width: 100%; }
.full input { width: 100%; }

.half { width: 100%; }
.half input { width: 100%; }

.comment_form, .comment_list { width: 95%; margin-right: auto; margin-left: auto;}

.comment_form_submit { float: right; }

.comment label { float: none; }

.comment_error { font-size: 0.75em; font-style: italic; color: red; }