
# Modify this configuration file and copy it to config.rb

configure do
    set :environment, :development

    # setup the database configuration
    set :db_config, {
        :adapter => 'mysql',
        :user => '',
        :password => '',
        :host => '',
        :database => 'test_db',
    }

    
end

